<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/style.css">

   <title>MONGO WEBSCRAPPER</title>

</head>

<body>
   <nav class="navbar navbar-dark bg-dark">
      <p class="text-light h3">Bienvenido</p><br>
      <p class="text-light h4">Evaluemos a los articulistas de "EL UNIVERSAL"</p>
   </nav>
   <div class="row" style="margin-bottom:20px">
   
   {{{ body }}}

   </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>
</html>