html {
  min-width: 320px;
}
body {
  background-color: rgb(255, 255, 255);
}
#wrapper {
  width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 5%; */
}
#articleshb {
  overflow: auto;
  height: 625px;
}
#comentarios {
  overflow: auto;
  height: 242px;
}


